.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titletask{
    
    h1{ 
        color: rgb(23, 93, 117);
        font-weight: 400;
        padding-top: 25px;
    padding-left: 40px;
    }
    display: flex;
    column-gap: 200px;
    mat-form-field{
        width: 100%;
        padding-top: 60px;
    }
}
.block {
    margin-top: 8px;
    margin-bottom: 3px;
    mat-form-field{
        width: 100%;
    }
   
}
.action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
        margin: auto 150px;
        
    }
    .save{
        align-content: flex-end;
    }
}